@model IEnumerable<DershaneOrnekSB.Entities.Exam>

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">SINAVLAR LİSTESİ</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ISMI</th>
                    <th>BAŞLANGIÇ ZAMANI</th>
                    <th>BİTİŞ ZAMANI</th>
                    <th>KATEGORİSİ</th>
                    <th>YÖNET</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                           
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
